apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: bifrost
  labels:
    app.kubernetes.io/name: bifrost-client
    app.kubernetes.io/component: client
    app.kubernetes.io/part-of: bifrost
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: bifrost-client
